#currentWindow{
display: none;
/* display:flex; */
background-color: var(--black);
position:fixed;
flex-direction:column;
gap:20px;
justify-content:center;
align-items:center;
border: 2px solid var(--white);
border-radius:20px;
padding:12vw;

left:50vw;
top:50vh;
transform:translate(-50%,-50%);
z-index: 1;
}
